*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{
min-height:100vh;
background:linear-gradient(135deg,#ffe4ec,#ffc2db);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.container{
padding:20px;
max-width:420px;
width:90%;
}

/* Video Styling */
.valentine-gif{
width:75%;
max-width:300px;
height:auto;
border-radius:20px;
margin-bottom:20px;
transform:translateZ(0);

opacity:0;
animation:fadeIn 1.5s ease forwards;
}


/* Intro Text */
#typing-text{
font-size:18px;
color:#b03060;
min-height:50px;
}

/* Proposal Page */
.question{
color:#b03060;
margin-bottom:10px;
}

#convince-text{
color:#cc4b7a;
margin-bottom:10px;
}

/* Proposal Buttons */
.buttons{
display:flex;
justify-content:center;
gap:18px;
margin-top:20px;
}

.yes-btn,.no-btn{
width:160px;
height:52px;
border:none;
border-radius:30px;
font-size:16px;
color:white;
cursor:pointer;
transition:.3s;
}

.yes-btn{
background:#ff8fab;
}

.no-btn{
background:#cdb4db;
position:relative;
}

.yes-btn:hover,.no-btn:hover{
transform:scale(1.08);
}

/* Menu Page */
.menu-caption{
color:#b03060;
margin-bottom:15px;
}

.menu-buttons{
display:flex;
flex-direction:column;
align-items:center;
gap:18px;
}

.menu-btn{
width:300px;
height:60px;
border:none;
border-radius:30px;
font-size:16px;
color:white;
cursor:pointer;
transition:.3s;
}

.menu-btn:nth-child(1){
background:#ff8fab;
}

.menu-btn:nth-child(2){
background:#cdb4db;
}

.menu-btn:nth-child(3){
background:#90dbf4;
}

.menu-btn:hover{
transform:scale(1.05);
}

/* Mobile */
@media(max-width:480px){

.menu-btn{
width:90%;
height:55px;
}

.yes-btn,.no-btn{
width:135px;
height:48px;
}
}

/* Memories Page Layout */
.memories-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
}

/* Memory Images */
.memory-img{
    width:90%;
    max-width:400px;
    border-radius:20px;

    opacity:0;
    animation:fadeIn 1.5s ease forwards;
}

/* Back Button */
.back-btn{
    margin-top:20px;
    width:160px;
    height:50px;
    border:none;
    border-radius:30px;
    background:#cdb4db;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.back-btn:hover{
    transform:scale(1.05);
}

/* Fade Animation */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
