body{
background:linear-gradient(to bottom,#d7a8b3,#e3bcc5);
font-family:Georgia, serif;
text-align:center;
}

h1{
color:#cc2f75;
margin-top:30px;
}

.game-box{
width:300px;
height:380px;
background:#eee;
margin:40px auto;
border-radius:25px;
box-shadow:0 0 20px rgba(0,0,0,0.1);
padding-top:40px;
}

.card{
width:200px;
height:150px;
background:white;
margin:0 auto 30px;
border-radius:20px;
display:flex;
align-items:center;
justify-content:center;
padding:20px;
font-size:18px;
transition:0.4s;
box-shadow:0 0 10px rgba(0,0,0,0.15);
}

.card.flip{
transform:scale(1.1) rotateY(360deg);
}

button{
padding:12px 35px;
background:#f47c9b;
border:none;
border-radius:30px;
color:white;
font-size:16px;
cursor:pointer;
}

.back{
display:inline-block;
margin-top:20px;
padding:10px 25px;
background:#bfa3c9;
color:white;
border-radius:20px;
text-decoration:none;
}
