body{
margin:0;
background:linear-gradient(135deg,#ffe4ec,#ffc2db);
font-family:Poppins;
display:flex;
flex-direction:column;
align-items:center;
}

.title{
color:#d63384;
margin-top:20px;
}

.game-box{
background:white;
width:320px;
height:430px;
margin-top:20px;
border-radius:30px;
display:flex;
flex-direction:column;
align-items:center;
padding-top:20px;
box-shadow:0 0 20px rgba(0,0,0,0.2);
}

#spinBtn{
padding:12px 30px;
border:none;
border-radius:25px;
background:#ff8fab;
color:white;
font-size:18px;
cursor:pointer;
}

.wheel-wrapper{
position:relative;
margin-top:20px;
}

.wheel{
width:260px;
height:260px;
border-radius:50%;
position:relative;

background:conic-gradient(
#ffc8dd 0deg 60deg,
#cdb4db 60deg 120deg,
#bde0fe 120deg 180deg,
#caffbf 180deg 240deg,
#ffe5b4 240deg 300deg,
#ffd6e0 300deg 360deg
);

transition:transform 14s cubic-bezier(0.15,0.85,0.25,1);
}

.wheel span{
position:absolute;
left:50%;
top:50%;
transform-origin:0 0;
transform:
rotate(calc(var(--i)*60deg))
translate(100px)
rotate(90deg);

font-size:14px;
font-weight:bold;
color:#444;
}

.pointer{
position:absolute;
top:-15px;
left:50%;
transform:translateX(-50%);
border-left:12px solid transparent;
border-right:12px solid transparent;
border-bottom:25px solid #ff4d6d;
}

.back-btn{
margin-top:20px;
padding:12px 25px;
border:none;
border-radius:25px;
background:#cdb4db;
color:white;
cursor:pointer;
}

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:none;
justify-content:center;
align-items:center;
background:rgba(0,0,0,0.5);
}

.popup-box{
background:white;
padding:25px;
border-radius:25px;
text-align:center;
width:260px;
}
